<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80134356736-cigl66le70qn6oc1lfbnlp8k1fs77656.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80134356736-cigl66le70qn6oc1lfbnlp8k1fs77656</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>80134356736-o6apm410ulmo29mb1ol8ac2htls075m5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTokQf3jJRpXZ6VaoI9YflTaaF9l-mVnY</string>
	<key>GCM_SENDER_ID</key>
	<string>80134356736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alsouq2new2khaledabdullahali</string>
	<key>PROJECT_ID</key>
	<string>souq-alfurat-89023</string>
	<key>STORAGE_BUCKET</key>
	<string>souq-alfurat-89023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80134356736:ios:befe2d8aea991ddbfdfde5</string>
	<key>DATABASE_URL</key>
	<string>https://souq-alfurat-89023.firebaseio.com</string>
</dict>
</plist>